# Пользователь PostgreSQL (простой для разработки)
POSTGRES_USER=dev
# Пароль PostgreSQL (простой для разработки)
POSTGRES_PASSWORD=dev
# Имя базы данных PostgreSQL
POSTGRES_DB=dev_db

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Секретный ключ приложения (простой для разработки)
APP_SECRET_KEY=

# URL подключения к PostgreSQL с хоста (бэкенд вне docker)
DATABASE_URL="postgres://dev:dev@localhost:5432/dev_db"

# Email и пароль для входа в pgAdmin (для разработки)
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# JWT конфигурация
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_REFRESH_EXPIRES_IN=2592000000 # 30 days in milliseconds
JWT_ACCESS_EXPIRES_IN=43200000 # 12 hours in milliseconds

NODE_ENV=development

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:your-email@example.com